<% layout("layouts/boilerplate") %>
  <article class="row">
    <h1 class="text-center primaryColor">New Thermal</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/thermals" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="title">Title</label>
          <input class="form-control" type="text" id="title" name="thermal[title]" required />
          <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="location">Location</label>
          <input class="form-control" type="text" id="location" name="thermal[location]" required />
          <div class="valid-feedback">Looks Good!</div>
        </div>

        <!-- <div class="mb-3">
          <label class="form-label" for="image">Image URL</label>
          <input class="form-control" type="text" id="image" name="thermal[image]" required />
          <div class="valid-feedback">Looks Good!</div>
        </div> -->
        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="price">Thermal Price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label"
              id="price" name="thermal[price]" required />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label new_edit primaryColor" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="thermal[description]" required></textarea>
        </div>
        <div class="mb-3 custom-file">
          <label for="image" class="form-label custom-file-label new_edit primaryColor">Choose Images</label>
          <input class="form-control" type="file" id="image" multiple name="image">
        </div>
        <div class="mb-3 d-grid gap-2">
          <button class="btn btnHov">Add Thermal</button>
        </div>
      </form>
      <div class="d-grid gap-2">
        <a href="/thermals" class="btn btn-warning fontButton" type="button">Cancel</a>
      </div>
    </div>
  </article>