<% layout("layouts/boilerplate")%>
    <article class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://res.cloudinary.com/maxlous/image/upload/v1614266567/robson-hatsukami-morgan-r8hw4Zs38zo-unsplash_1_umyvir.jpg"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title primaryColor">SignUp</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label primaryColor" for="username">Username</label>
                                <input class="form-control" type="text" id="username" autofocus name="username"
                                    required />
                                <div class="valid-feedback">Looks Good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label primaryColor" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required />
                                <div class="valid-feedback">Looks Good!</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label primaryColor" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required />
                                <div class="valid-feedback">Looks Good!</div>
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btnHov" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </article>